In [27]:
import pandas as pd

In [28]:
join_keys = ["GeoID", "Borough"]

In [29]:
internet = pd.read_csv("./data/raw/Internet_Master_Plan__Adoption_and_Infrastructure_Data_by_Neighborhood.csv")
internet["GeoID"] = internet["Neighborhood Tabulation Area Code (NTA Code)"]
internet["Borough"] = internet["Borough Name"]
internet["neighborhood_name"] = internet["Neighborhood Tabulation Area Name (NTA NAME)"]
internet.drop(columns=["Neighborhood Tabulation Area Code (NTA Code)", "Borough Name"], inplace=True)
internet["Borough"] = internet.apply(lambda row: row.Borough if row.Borough != "Bronx" else "The Bronx", axis = 1)
internet_cols_to_keep = [
    "GeoID",
    "Borough",
    "neighborhood_name",
    "Total Population",
    "Population Density (per Sq. Mi.)",
    "Total Number of Households",
    "Home Broadband Adoption (Percentage of Households)",
    "Mobile Broadband Adoption (Percentage of Households)",
    "Mobile Dependent Households (Percentage of Households)",
    "Residential Broadband Choice Average by NTA",
    "Percentage of Blocks with ISP Reported Speed Availability of >=900 Mbps",
    "Public Wi-Fi in NYC Count",
    "NYC Internet Master Plan Open Access Infrastructure Cost Comparison Coefficient",
]
internet = internet[internet_cols_to_keep]
internet

,GeoID,Borough,neighborhood_name,Total Population,Population Density (per Sq. Mi.),Total Number of Households,Home Broadband Adoption (Percentage of Households),Mobile Broadband Adoption (Percentage of Households),Mobile Dependent Households (Percentage of Households),Residential Broadband Choice Average by NTA,Percentage of Blocks with ISP Reported Speed Availability of >=900 Mbps,Public Wi-Fi in NYC Count,NYC Internet Master Plan Open Access Infrastructure Cost Comparison Coefficient
0,BK09,Brooklyn,Brooklyn Heights-Cobble Hill,23758,65994.44,11150,0.8640,0.8820,0.05,2.41,1.00,27,1.22
1,BK17,Brooklyn,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,65167,28707.93,25483,0.7729,0.7604,0.07,1.82,0.76,18,2.45
2,BK19,Brooklyn,Brighton Beach,34814,56151.61,14441,0.6653,0.6880,0.08,1.86,0.79,1,1.43
3,BK21,Brooklyn,Seagate-Coney Island,31120,22388.49,11553,0.5547,0.6092,0.10,1.83,0.76,32,1.00
4,BK23,Brooklyn,West Brighton,17252,55651.61,8547,0.6682,0.6754,0.09,1.56,0.42,0,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,SI37,Staten Island,Stapleton-Rosebank,25281,15138.32,9196,0.6903,0.7075,0.05,1.92,0.98,5,0.87
191,SI45,Staten Island,New Dorp-Midland Beach,21208,10657.29,7856,0.7668,0.7503,0.05,1.98,0.99,23,0.75
192,SI48,Staten Island,Arden Heights,26887,14854.70,9054,0.8120,0.8383,0.05,1.98,1.00,0,0.86
193,SI54,Staten Island,Great Kills,41724,12998.13,15081,0.7913,0.8090,0.06,1.98,1.00,2,1.39
194,SI99,Staten Island,park-cemetery-etc-Staten Island,0,0.00,0,0.0000,0.0000,0.00,0.73,0.18,0,NaN

In [30]:
soc = pd.read_excel("./data/raw/ACS5yrNTA/soc_2016acs5yr_nta.xlsx", sheet_name="SocData")
soc_cols_to_keep = [
    "GeoID",
    "Borough",
    "EngOnly1P",
    "LgOEng1P",
    "NtvP",
    "Fb1P",
    "EA_BchDHP",
]
soc = soc[soc_cols_to_keep]
soc

    GeoID    Borough  EngOnly1P  LgOEng1P  NtvP  Fb1P  EA_BchDHP
0    BK27   Brooklyn       31.0      69.0  50.7  49.3       33.6
1    BK31   Brooklyn       49.0      51.0  64.9  35.1       46.4
2    BK75   Brooklyn       58.9      41.1  80.8  19.2       32.2
3    BK29   Brooklyn       24.3      75.7  42.0  58.0       30.2
4    BK28   Brooklyn       26.1      73.9  43.9  56.1       26.2
..    ...        ...        ...       ...   ...   ...        ...
190  BX63  The Bronx       26.0      74.0  53.2  46.8       14.0
191  BX08  The Bronx       38.2      61.8  62.9  37.1        9.3
192  BX59  The Bronx       34.2      65.8  66.1  33.9       18.5
193  BX44  The Bronx       69.5      30.5  60.6  39.4       18.7
194  BX62  The Bronx       75.6      24.4  58.7  41.3       27.4

[195 rows x 7 columns]

In [31]:
demo = pd.read_excel("./data/raw/ACS5yrNTA/demo_2016acs5yr_nta.xlsx", sheet_name="DemData")
racial_cols = {
    "WtNHP": "White",
    "BlNHP": "Black or African American",
    "AIANNHP": "American Indian and Alaska Native",
    "AsnNHP": "Asian",
    "NHPINHP": "Native Hawaiian and Other Pacific Islander",
    "OthNHP": "Some other race",
    "Rc2plNHP": "Two or more races",
}
demo_data_to_keep = [
    "GeoID",
    "Borough",
    "PopU181P",
    "Pop65pl1P",
] + list(racial_cols.keys())

demo = demo[demo_data_to_keep]
demo["plurality_racial_group"] = demo[racial_cols].idxmax(axis=1)
demo["plurality_racial_group"] = demo["plurality_racial_group"].replace(racial_cols)
demo.drop(columns=list(racial_cols.keys()), inplace=True)
demo

/var/folders/8t/53h96trd3rxf1czhhkwp3h_m0000gn/T/ipykernel_64768/1390590444.py:19: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  demo["plurality_racial_group"] = demo[racial_cols].idxmax(axis=1)

    GeoID    Borough  PopU181P  Pop65pl1P     plurality_racial_group
0    BK27   Brooklyn      21.4       14.7                      White
1    BK31   Brooklyn      19.1       15.6                      White
2    BK75   Brooklyn      29.7        7.7  Black or African American
3    BK29   Brooklyn      19.9       15.7                      White
4    BK28   Brooklyn      21.0       14.3                      White
..    ...        ...       ...        ...                        ...
190  BX63  The Bronx      27.5        7.7  Black or African American
191  BX08  The Bronx      26.5       10.5  Black or African American
192  BX59  The Bronx      23.8       12.0  Black or African American
193  BX44  The Bronx      25.0       12.1  Black or African American
194  BX62  The Bronx      20.8       14.1  Black or African American

[195 rows x 5 columns]

In [32]:
econ = pd.read_excel("./data/raw/ACS5yrNTA/econ_2016acs5yr_nta.xlsx", sheet_name="EconData")
econ_cols_to_keep = [
    "GeoID",
    "Borough",
    "PerCapIncE",
    "FamBwPvP",
    "MgBSciArtP",
    "SrvcP",
    "SalesOffP",
    "NRCnstMntP",
    "PrdTrnsMMP",
    "LFP",
]
econ = econ[econ_cols_to_keep]
econ["wfh_capable"] = econ["MgBSciArtP"] + econ["SalesOffP"]
econ["wfh_incapable"] = 100 - econ["wfh_capable"]

occupation_cols_to_drop = {
    'MgBSciArtP',
    'SrvcP',
    'SalesOffP',
    'NRCnstMntP',
    'PrdTrnsMMP',
}
econ.drop(columns=list(occupation_cols_to_drop), inplace=True)

econ

    GeoID    Borough  PerCapIncE  FamBwPvP   LFP  wfh_capable  wfh_incapable
0    BK27   Brooklyn     26894.0      10.9  59.6         60.2           39.8
1    BK31   Brooklyn     37096.0      12.9  64.4         70.9           29.1
2    BK75   Brooklyn     22480.0      30.0  67.4         67.1           32.9
3    BK29   Brooklyn     23274.0      17.4  60.5         53.5           46.5
4    BK28   Brooklyn     23694.0      15.3  61.6         52.1           47.9
..    ...        ...         ...       ...   ...          ...            ...
190  BX63  The Bronx     14432.0      36.6  60.9         37.1           62.9
191  BX08  The Bronx     14513.0      32.4  58.7         37.3           62.7
192  BX59  The Bronx     19809.0      22.8  61.6         54.0           46.0
193  BX44  The Bronx     19287.0      22.5  63.7         48.4           51.6
194  BX62  The Bronx     25921.0      11.4  65.6         55.9           44.1

[195 rows x 7 columns]

In [33]:
housing = pd.read_excel("./data/raw/ACS5yrNTA/hous_2016acs5yr_nta.xlsx", sheet_name="HousData")
housing_cols_to_keep = [
    "GeoID",
    "Borough",
    "MdGRE",
    "MdVlE",
    "OOcHU1P",
    "ROcHUP",
    "OcHU1P",
]
housing = housing[housing_cols_to_keep]
housing

    GeoID    Borough   MdGRE     MdVlE  OOcHU1P  ROcHUP  OcHU1P
0    BK27   Brooklyn  1299.0  685011.0     39.1    60.9    94.5
1    BK31   Brooklyn  1385.0  687001.0     36.0    64.0    89.9
2    BK75   Brooklyn  1165.0  722811.0     18.5    81.5    89.5
3    BK29   Brooklyn  1209.0  657026.0     34.5    65.5    93.0
4    BK28   Brooklyn  1259.0  708946.0     34.5    65.5    94.3
..    ...        ...     ...       ...      ...     ...     ...
190  BX63  The Bronx  1098.0  213234.0      2.4    97.6    95.3
191  BX08  The Bronx  1108.0  453009.0     15.3    84.7    92.1
192  BX59  The Bronx  1308.0  425647.0     25.6    74.4    93.8
193  BX44  The Bronx  1204.0  378872.0     29.6    70.4    93.0
194  BX62  The Bronx  1296.0  407578.0     46.7    53.3    93.7

[195 rows x 7 columns]

In [34]:
data = internet
for right in [soc, demo, housing, econ]:
    data = data.merge(right, on=["GeoID", "Borough"], how="left")
data

,GeoID,Borough,neighborhood_name,Total Population,Population Density (per Sq. Mi.),Total Number of Households,Home Broadband Adoption (Percentage of Households),Mobile Broadband Adoption (Percentage of Households),Mobile Dependent Households (Percentage of Households),Residential Broadband Choice Average by NTA,...,MdGRE,MdVlE,OOcHU1P,ROcHUP,OcHU1P,PerCapIncE,FamBwPvP,LFP,wfh_capable,wfh_incapable
0,BK09,Brooklyn,Brooklyn Heights-Cobble Hill,23758,65994.44,11150,0.8640,0.8820,0.05,2.41,...,2084.0,768459.0,43.2,56.8,88.2,82940.0,2.0,68.3,91.4,8.6
1,BK17,Brooklyn,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,65167,28707.93,25483,0.7729,0.7604,0.07,1.82,...,1149.0,467326.0,53.4,46.6,92.7,29668.0,13.2,59.7,64.4,35.6
2,BK19,Brooklyn,Brighton Beach,34814,56151.61,14441,0.6653,0.6880,0.08,1.86,...,1122.0,566383.0,31.1,68.9,89.9,25916.0,20.1,53.9,54.0,46.0
3,BK21,Brooklyn,Seagate-Coney Island,31120,22388.49,11553,0.5547,0.6092,0.10,1.83,...,620.0,433588.0,15.4,84.6,88.8,20054.0,26.3,49.6,48.5,51.5
4,BK23,Brooklyn,West Brighton,17252,55651.61,8547,0.6682,0.6754,0.09,1.56,...,987.0,282390.0,41.9,58.1,93.4,30666.0,10.4,54.0,68.2,31.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,SI37,Staten Island,Stapleton-Rosebank,25281,15138.32,9196,0.6903,0.7075,0.05,1.92,...,1169.0,371507.0,47.9,52.1,89.5,25637.0,19.5,59.5,53.8,46.2
191,SI45,Staten Island,New Dorp-Midland Beach,21208,10657.29,7856,0.7668,0.7503,0.05,1.98,...,1278.0,435566.0,72.6,27.4,91.2,33572.0,9.1,58.8,61.9,38.1
192,SI48,Staten Island,Arden Heights,26887,14854.70,9054,0.8120,0.8383,0.05,1.98,...,1155.0,422899.0,87.0,13.0,96.2,35060.0,5.2,61.4,68.8,31.2
193,SI54,Staten Island,Great Kills,41724,12998.13,15081,0.7913,0.8090,0.06,1.98,...,1455.0,450902.0,82.3,17.7,96.9,36323.0,6.0,62.3,68.5,31.5
194,SI99,Staten Island,park-cemetery-etc-Staten Island,0,0.00,0,0.0000,0.0000,0.00,0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
extra_column_mapping = {
    'EngOnly1P': 'English only language %',
    'LgOEng1P': 'Language other than English %',
    'NtvP': 'Native born in US %',
    'Fb1P': 'Foreign born %',
    'EA_BchDHP': 'Completed Bachelors degree or higher %',
    'PopU181P': 'Population under 18 years %',
    'Pop65pl1P': 'Population over 64 years %',
    'MdGRE': 'Median House gross rent (in $)',
    'MdVlE': 'Median House value (in $)',
    'OOcHU1P': 'Owner occupied Housing unit %',
    'ROcHUP': 'Renter occupied Housing unit %',
    'OcHU1P': 'Total occupied Housing unit %',
    'PerCapIncE': 'Per Capita Income (in $)',
    'FamBwPvP': 'Families below poverty level %',
    'LFP': 'Population employed in labor force %',
    
    # Renaming few to follow convention
    'Home Broadband Adoption (Percentage of Households)' :'Home Broadband Adoption %',
    'Mobile Broadband Adoption (Percentage of Households)' : 'Mobile Broadband Adoption %',
    'neighborhood_name' : 'Neighborhood Name',
    'Percentage of Blocks with ISP Reported Speed Availability of >=900 Mbps': 'Blocks with ISP Reported Speed Availability of >=900 Mbps in %',
    'wfh_capable': 'Work from Home - Capable',
    'wfh_incapable':'Work from Home - Incapable',
    
}
data.rename(columns=extra_column_mapping, inplace=True)

In [36]:
irregular_neighborhoods = [
    "BK99", # park-cemetary-etc-Brooklyn
    "BX99", # park-cemetery-etc-Bronx
    "MN99", # park-cemetery-etc-Manhattan
    "QN99", # park-cemetery-etc-Queens
    "SI99", # park-cemetery-etc-Staten Island
    "BX98", # Rikers Island
    "QN98", # Airport
]
data_no_weird = data[~data["GeoID"].isin(irregular_neighborhoods)]
len(data_no_weird)

188

In [37]:
data_no_weird.to_csv("./data/clean/combined_dataset_no_weird.csv", index=False)
data.to_csv("./data/clean/combined_dataset.csv", index=False)